@font-face {
  font-family: "Formular";
  src: url("../ofont.ru_Formular.ttf");
}
.wrapper__questions {
  height: 554px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  background-color: #fff;
  border-radius: 16px;
}
.wrapper__questions .inputs-block {
  display: grid;
  grid-template-columns: 237px 237px;
  grid-template-rows: repeat(5, 48px);
  gap: 24px;
  grid-template-areas: "questions_name questions_email" "questions_number questions_topic" "questions_message questions_message" "questions_message questions_message" "questions_btn questions_btn";
}
.wrapper__questions .inputs-block .questions_name {
  grid-area: questions_name;
}
.wrapper__questions .inputs-block .questions_email {
  grid-area: questions_email;
}
.wrapper__questions .inputs-block .questions_number {
  grid-area: questions_number;
}
.wrapper__questions .inputs-block .questions_topic {
  grid-area: questions_topic;
}
.wrapper__questions .inputs-block .questions_message {
  grid-area: questions_message;
  padding-bottom: 75px;
}
.wrapper__questions .inputs-block .questions_btn {
  grid-area: questions_btn;
  background-color: #8B5CF6;
  color: #fff;
  font-weight: 700;
  transition: 0.2s;
}
.wrapper__questions .inputs-block .questions_btn:hover {
  background-color: #A78BFA;
}
.wrapper__questions .inputs-block .questions_btn:active {
  background-color: #6D28D9;
}
.wrapper__questions .inputs-block input {
  padding-left: 12px;
}
.wrapper__questions .inputs-block input, .wrapper__questions .inputs-block button {
  border-radius: 4px;
}

footer {
  background-color: #111827;
}

.wrapper_footer {
  height: 234px;
  color: #F9FAFB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.wrapper_footer .footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.wrapper_footer .footer__header .footer_logo {
  display: flex;
  flex-direction: column;
}
.wrapper_footer .footer__header .footer_logo .imgBox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
.wrapper_footer .footer__header .footer_logo .imgBox .footer_img {
  width: 50px;
  height: 74px;
}
.wrapper_footer .footer__header .footer_logo .imgBox p {
  font-size: 24px;
  font-weight: 900;
}
.wrapper_footer .footer__header .footer_logo .logo_text {
  width: 382px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_footer .footer__header .footer_nav ul {
  display: flex;
  gap: 24px;
}
.wrapper_footer .footer__header .footer_nav ul li {
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.wrapper_footer .footer__header .footer_nav ul li:hover {
  color: #8B5CF6;
}
.wrapper_footer .footer__header .footer_number {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}
.wrapper_footer .footer__header .footer_number p {
  font-size: 24px;
  font-weight: 400;
}
.wrapper_footer .footer__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 11px;
}
.wrapper_footer .footer__footer .left {
  font-weight: 300;
  color: #4B5563;
  width: 1146px;
}
.wrapper_footer .footer__footer .right {
  color: #6B7280;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1026px;
    margin: 0 auto;
  }
  .wrapper_header .header_inf .contact-box .phone-num h2 {
    font-size: 30px;
  }
  .wrapper_header .header_inf .contact-box .phone-num p {
    font-size: 20px;
  }
  .wrapper__delivery {
    display: flex;
    flex-direction: column;
    height: 856px;
    gap: 40px;
    margin-top: 48px;
  }
  .wrapper__delivery .delivery-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    width: 100%;
  }
  .wrapper__delivery .delivery-left img {
    width: 505px;
    height: 232px;
  }
  .wrapper__delivery .delivery-left .delivery-left__inf {
    width: 100%;
    height: 232px;
    gap: 12px;
  }
  .wrapper__delivery .delivery-left .delivery-left__inf h2 {
    font-size: 30px;
    width: 505px;
  }
  .wrapper__delivery .delivery-left .delivery-left__inf p {
    width: 495px;
  }
  .wrapper__delivery .delivery-right {
    width: 100%;
    height: 584px;
    padding: 24px;
  }
  .wrapper__delivery .delivery-right .delivery-right__inpt {
    width: 606px;
  }
  .wrapper__benefits {
    height: 606px;
    margin-top: 48px;
  }
  .wrapper__benefits .cards__benefits {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper__guarantees {
    height: 1102px;
    margin-top: 48px;
  }
  .wrapper__guarantees .guarantees__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper__reviews {
    height: 344px;
    margin-top: 48px;
  }
  .wrapper__reviews .wrapper_text_reviews h3 {
    margin-bottom: 32px;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks li {
    width: 396px;
    height: 276px;
    padding: 16px 16px;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks li .kavu {
    right: 23px;
    bottom: 3px;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks li .li_text p {
    font-size: 18px;
    line-height: 28px;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks li .li_text h6 {
    font-size: 16px;
  }
  .wrapper__questions {
    margin-top: 48px;
  }
  footer .container {
    max-width: 1152px;
  }
  footer .container .wrapper_footer {
    height: 250px;
    margin-top: 48px;
  }
  footer .container .wrapper_footer .footer__header .footer_number h2 {
    font-size: 30px;
  }
  footer .container .wrapper_footer .footer__header .footer_number p {
    font-size: 20px;
  }
  footer .container .wrapper_footer .footer__footer .left {
    width: 910px;
    height: 48px;
  }
  footer .container .wrapper_footer .footer__footer .right {
    width: 242px;
    height: 32px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .hide-in-adapt {
    display: none;
  }
  .wrapper_header {
    width: 100%;
    height: 262px;
  }
  .wrapper_header .header_inf .contact-box .phone-num h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .wrapper_header .header_inf .contact-box .phone-num p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
  }
  .wrapper_header .header__nav {
    height: 68px;
    border-top: #8B5CF6 2px solid;
    border-bottom: #8B5CF6 2px solid;
  }
  .wrapper_header .hide-before-adapt {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .wrapper__delivery {
    width: 100%;
    height: 1158px;
  }
  .wrapper__delivery .delivery-left {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .wrapper__delivery .delivery-left .delivery-left__inf {
    width: 100%;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper__delivery .delivery-left .delivery-left__inf h2 {
    width: 100%;
  }
  .wrapper__delivery .delivery-left .delivery-left__inf p {
    width: 100%;
  }
  .wrapper__delivery .delivery-left .delivery-left__img img {
    width: 100%;
    height: 350px;
  }
  .wrapper__benefits {
    height: 488px;
  }
  .wrapper__benefits .cards__benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
    gap: 24px;
  }
  .wrapper__benefits .cards__benefits .card {
    width: 375px;
    height: 120px;
    padding: 0;
  }
  .wrapper__benefits .cards__benefits .card .image__card__benefits img {
    width: 108px;
    height: 108px;
  }
  .wrapper__benefits .cards__benefits .card .card__text h4 {
    font-size: 20px;
  }
  .wrapper__reviews {
    width: 100%;
    height: 292px;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks {
    height: 224px;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks ul {
    display: block;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks ul li {
    width: 570px;
    height: 224px;
  }
  footer .container {
    width: 768px;
  }
  footer .container .wrapper_footer {
    height: 338px;
  }
  footer .container .wrapper_footer .hide-before-adapt-foot {
    display: block;
  }
  footer .container .wrapper_footer .hide-before-adapt-foot ul {
    display: flex;
    gap: 24px;
  }
  footer .container .wrapper_footer .hide-before-adapt-foot li {
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
  }
  footer .container .wrapper_footer .hide-before-adapt-foot li:hover {
    color: #8B5CF6;
  }
  footer .container .wrapper_footer .footer__footer {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .container .wrapper_footer .footer__footer .left {
    width: 768px;
    height: 64px;
  }
  footer .container .wrapper_footer .footer__footer .right {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 650px;
    margin: 0 auto;
  }
  .hide-in-adapt {
    display: none;
  }
  .hide-in-768px {
    display: none;
  }
  header .container .wrapper_header {
    height: 90px;
  }
  header .container .wrapper_header .hide-before-adapt {
    display: none;
  }
  header .container .wrapper_header .header_inf .logo_box h1 {
    font-size: 18px;
  }
  header .container .wrapper_header .header_inf .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .container .wrapper_header .header_inf .contact-box .phone-num h2 {
    font-size: 20px;
  }
  header .container .wrapper_header .header_inf .contact-box .hide-before-768px {
    display: flex;
  }
  header .container .wrapper_header .header_inf .hide-in-768px {
    display: none;
  }
  .wrapper__delivery {
    height: 1194px;
  }
  .wrapper__delivery .delivery-left .delivery-left__inf {
    width: 630px;
  }
  .wrapper__benefits {
    height: 920px;
  }
  .wrapper__benefits .cards__benefits {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper__guarantees {
    height: 1992px;
  }
  .wrapper__guarantees .guarantees__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper__reviews {
    height: 348px;
  }
  .wrapper__reviews .wrapper_text_reviews {
    justify-content: center;
    width: 442px;
  }
  .wrapper__reviews .wrapper_text_reviews h3 {
    margin-bottom: 42px;
  }
  .wrapper__reviews .wrapper_text_reviews .wrapper_text_reviews_blocks ul li {
    width: 442px;
    height: 280px;
  }
  .wrapper__questions {
    height: 554px;
  }
  footer .container .wrapper_footer {
    height: 434px;
  }
  footer .container .wrapper_footer .footer__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  footer .container .wrapper_footer .footer__header .footer_logo {
    order: 1;
  }
  footer .container .wrapper_footer .footer__header .footer_logo .imgBox {
    justify-content: center;
  }
  footer .container .wrapper_footer .footer__footer {
    gap: 8px;
  }
  footer .container .wrapper_footer .footer__footer .left {
    width: 472px;
  }
}/*# sourceMappingURL=miras.css.map */